In [1]:
import numpy as np
import pandas as pd
import xlrd

In [2]:
gesinasTable = pd.read_excel("data/fachklassenliste_KMK.xls")

*** formula/tFuncVar unknown FuncID:255

In [3]:
book = xlrd.open_workbook("data/fachklassenliste_KMK.xls", formatting_info=True)
sheets = book.sheet_names()
print ("sheets are: ", sheets)

*** formula/tFuncVar unknown FuncID:255
sheets are:  ['Tabelle1']

In [4]:
sheet = book.sheet_by_index(0)
rows, cols = sheet.nrows, sheet.ncols
print(rows, cols)

485 24

In [5]:
colorInfoArray = np.zeros(shape=(gesinasTable.shape[0]+1,gesinasTable.shape[1]))
for row in range(gesinasTable.shape[0]):
    for col in range(gesinasTable.shape[1]):
        #print("row, cell is: ", row+1, col+1)
        thecell = sheet.cell(row, col)
        #print(thecell)
        xfx = sheet.cell_xf_index(row,col)
        xf = book.xf_list[xfx]
        bgx = xf.background.pattern_colour_index
        colorInfoArray[row,col] = xf.background.pattern_colour_index
        #print (bgx)

In [6]:
gesinasTable.shape

(456, 18)

In [7]:
colorInfoArray.shape

(457, 18)

In [8]:
for row in range(gesinasTable.shape[0]):
    for col in range(1,gesinasTable.shape[1]):
        if (colorInfoArray[row+1,col] == 17.0):
            gesinasTable[gesinasTable.columns[col]][row] = 1

In [9]:
gesinasTable.head(5)

,Ausbildungsberuf,NRW,RLP,Hessen,Sachsen,Sachsen Anhalt,Niedersachsen,Bremen,Berlin,Baden W端rttemberg,MVP,SH,Saarland,Th端ringen,Bayern,Hamburg,Brandenburg,info
0,Aspahaltbauer,Essen,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,NaN
1,Aufbereitungsmechaniker,NaN,NaN,NaN,1,1,NaN,NaN,NaN,1,NaN,NaN,1,1,Wiesau,NaN,NaN,NaN
2,< Feuerfeste und keramihsce Rohstoffe,Duisburg,NaN,1,NaN,NaN,1,1,NaN,NaN,1,1,NaN,NaN,NaN,1,1,NaN
3,< Naturstein / < Sand und Kies,Duisburg,1,1,NaN,NaN,1,1,NaN,NaN,1,1,NaN,NaN,NaN,1,NaN,NaN
4,< Naturstein / < Sand und Kies,NaN,NaN,NaN,1,1,NaN,NaN,NaN,NaN,NaN,NaN,1,erfurt,NaN,NaN,1,* Auszubildende aus dem Land Berlin besuchen B...

In [10]:
gesinasTable = gesinasTable.fillna('leer')

In [11]:
gesinasTable.head()

,Ausbildungsberuf,NRW,RLP,Hessen,Sachsen,Sachsen Anhalt,Niedersachsen,Bremen,Berlin,Baden W端rttemberg,MVP,SH,Saarland,Th端ringen,Bayern,Hamburg,Brandenburg,info
0,Aspahaltbauer,Essen,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,leer
1,Aufbereitungsmechaniker,leer,leer,leer,1,1,leer,leer,leer,1,leer,leer,1,1,Wiesau,leer,leer,leer
2,< Feuerfeste und keramihsce Rohstoffe,Duisburg,leer,1,leer,leer,1,1,leer,leer,1,1,leer,leer,leer,1,1,leer
3,< Naturstein / < Sand und Kies,Duisburg,1,1,leer,leer,1,1,leer,leer,1,1,leer,leer,leer,1,leer,leer
4,< Naturstein / < Sand und Kies,leer,leer,leer,1,1,leer,leer,leer,leer,leer,leer,1,erfurt,leer,leer,1,* Auszubildende aus dem Land Berlin besuchen B...

In [12]:
gesinasTable[['Brandenburg','info']][((gesinasTable['Brandenburg']==1) & (gesinasTable['info']!='leer'))][:5]

   Brandenburg                                               info
4            1  * Auszubildende aus dem Land Berlin besuchen B...
15           1  Auszubildende aus dem Umkreis Berlin besuchen ...
31           1  Auszubildende aus dem Umkreis Berlin besuchen ...
34           1  Auszubildende aus dem Umkreis Berlin besuchen ...
40           1  Auszubildende aus dem Umkreis Berlin besuchen ...